.title__home {
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;

  background: linear-gradient(to right, #7c3aed, #ec4899, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

@media (max-width: 625px) {
  .title__home {
    height: 120px;
  }
}
