.title__profession {
  height: 70px;

  background: linear-gradient(to right, #16a34a, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
