.projects {
  &__title {
    height: 70px;
    margin: 10px 0 0;
    background: var(--title-projects);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__icon {
    display: inline-block;
    margin-top: 40px;
    padding: 15px;
    width: 40px;
    height: 40px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
    border-radius: 30%;
    color: white;
    background: var(--gradient-projects);
    transition: all 0.2s ease-in-out;
    animation: floatBetter 3s ease-in-out infinite;
  }

  &__container {
    margin: 50px auto 0;
    width: 90%;
    max-width: 1300px;
    padding: 20px 15px 40px;

    &__items {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 30px;

      /* responsive grid */
      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media (max-width: 700px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }

    &__item {
      @media (min-width: 700px) {
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
        }

        &:hover .projects__picture {
          transform: scale(1.2);
        }
      }
    }
  }

  &__github {
    display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  border-radius: 15px;
  max-width: 1500px;
  background-color: var(--summary-background);
  transition: all .2s ease;
  color: #fff;

  &__icon {
    width: 60px;
  height: 60px;
  margin: 50px auto 0;
  }

  &__title {
    padding: 0 30px;
  }

  &__description {
    margin-top: 0;
  color: #fff;
  padding: 0 30px;
  }

  &__button {
    display: inline-flex;
  width: 190px;
  margin: 20px auto 50px;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  white-space: nowrap;
  font-size: .875rem;
  font-weight: 500;
  height: 2.5rem;
  padding: 0 1.5rem;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
  transition: transform .2s ease,box-shadow .2s ease,background .2s ease,color .2s ease;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  background: var(--projects-btn-github-bg);
  color: #000;
  border: 1px solid #d1d5db;

  &:hover {
    transform: scale(1.05);
    background: var(--projects-btn-github-bg-hover);
  }
      }
  }
}
