.title__projects {
  height: 70px;
  margin-bottom: 0;
  background: linear-gradient(to right, #f97316, #ef4444);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-top: 10px;
}

p {
  color: var(--color-text-secondary);
}

.projects__icon {
  display: inline-block;
  margin-top: 50px;
  padding: 15px;
  width: 40px;
  height: 40px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  border-radius: 30%;
  color: white;
  transition: all 0.2s ease-in-out;
  background: var(--gradient-projects);
  animation: floatBetter 3s ease-in-out infinite;
}
