name: Deploy React App to Strato

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Deploy to Strato via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          username: ${{ secrets.STRATO_USER }}
          server: ${{ secrets.STRATO_HOST }}
          port: 22
          password: ${{ secrets.STRATO_PASS }}
          local_path: "./dist/*"
          remote_path: "/website/"
          sftp_only: true
          sftpArgs: "-o ConnectTimeout=10"
